extends base

block title
  | Sign Up

block content
  h2 Please sign up

  if message != ''
    .alert.alert-error= message
    
  form(action='/', method='post')

    p
      label(for='name') Name*<br />
      input#name(name='name', type='text')
    p
      label(for='username') Username*<br />
      input#username(name='username', type='text')
    p
      label(for='email') Email*<br />
      input#email(name='email', type='text')  
    p
      label(for='password') Password*<br />
      input#password(name='password', type='password')
    p
      label(for='surname') Surname<br />
      input#surname(name='surname', type='text')
    p
      label(for='birthday') Birthday<br />
      input#birthday(name='birthday', type='text')
    p
      input.btn.btn-primary(type='submit', value='Sign UP')
  a.blue(href="/auth/vk") VK AUTH