<DOCTYPE! html>
<html>
<head>
	<title>ToDo</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="App.css">
</head>
	<body>
		<div class="main">
			<script type="text/template" id ="taskTemplate">
			<button class="but">JMYAKAI!</button><span><%= count %> <%= name %>
			</script> 
		</div>
		<input type="button" value="OCHISTITES OGNEM!!" class="clear">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="underscore.js"></script>
	<script type="text/javascript" src="backbone.js"></script>
	<script type="text/javascript" src="backbone.localStorag.js"></script>
	<script src="App.js"></script>
	</body>
</html>